@{
    ViewData["Title"] = "Cart Toys";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div>
    @model IEnumerable<CartToys>
    @{
        Layout = "_Layout";
        var title = "Toys";
        ViewData["Title"] = title;
    }
    <h2>@title</h2>
    <table class="table table-bordered table-sm table-striped">
        <thead>
            <tr>
                <th>PurchaseHistoryId</th>
                <th>ItemsName</th>
                <th>Price</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Delete From Cart</th>
            </tr>
        </thead>
        <tbody>
            @if (Model == null)
            {
                <tr>
                    <td colspan="7" class="text-center">No Model Data</td>
                </tr>
            }
            else
            {
                @foreach (var p in Model)
                {
                    <tr>
                        <td>@p.CartToyId</td>
                        <td>@p.Toy.ToyName</td>
                        <td>@p.Toy.Price</td>
                        <td>@p.Toy.Description</td>
                        <td>@p.Quantity</td>
                         <td>
                            <form asp-action="DeleteFromCart" method="post" asp-route-CartToyId="@p.CartToyId">
                                <button>Delete from Cart</button>
                            </form>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div>
    <div style="float: left; width: 100px">
        <form asp-action="Purchase" method="post">
            <button>Purchase</button>
        </form>
    </div>
    <div style="float: left; width: 150px">
        <form asp-action="Toys" method="post">
            <button>Continue Shopping</button>
        </form>
    </div>
</div>
