@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div>
    @model IEnumerable<PurchaseHistory>
    @{
        Layout = "_Layout";
        var title = "READ Items";
        ViewData["Title"] = title;
    }
    <h2>@title</h2> 
    <table class="table table-bordered table-sm table-striped">
        <thead>
            <tr>
                <th>PurchaseHistoryId</th>
                <th>ItemsName</th>
                <th>Price</th>
                <th>Description</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            @if (Model == null)
            {
                <tr>
                    <td colspan="7" class="text-center">No Model Data</td>
                </tr>
            }
            else
            {
                @foreach (var p in Model)
                {
        <tr>
            <td>@p.PurchaseHistoryId</td>
            <td>@p.Items.Name</td>
            <td>@p.Items.Price</td>
            <td>@p.Items.Description</td>
            <td>@p.Quantity</td>
            <td><a asp-action="DeletefromCart" asp-route-id="@p.PurchaseHistoryId">Delete From Cart</a></td>
            @*<td>
            <form asp-action="Delete" method="post" asp-route-id="@p.ItemsId">
                <button>Delete</button>
            </form>
        </td>*@
        </tr>
                }
            }
        </tbody>
    </table>
</div>
<div> <form asp-action="NavigatetoPayment" method="post" >
    <button>Payment</button>
      </form>
    </div> 
