@{
    ViewData["Title"] = "Payment Details";
}
<h2>@ViewData["Title"]</h2>

<div>
    @model IEnumerable<PaymentAddress>
    @{
        Layout = "_Layout";
        var title = "User Payment Addressess";
        ViewData["Title"] = title;
    }
    <h2>@title</h2>
    <h3><a asp-action="AddAddress" class="btn btn-sm btn-secondary">Create Address</a></h3>
    <table class="table table-bordered table-sm table-striped">
        <thead>
            <tr>
                <th>Street</th>
                <th>Apt_No</th>
                <th>City</th>
                <th>State</th>
                <th>ZipCode</th>
                <th>Update Address</th>
                <th>Delete Address</th>
            </tr>
        </thead>
        <tbody>
            @if (Model == null)
            {
                <tr>
                    <td colspan="7" class="text-center">No Model Data</td>
                </tr>
            }
            else
            {
                @foreach (var p in Model)
                {
                <tr>
                    <td>@p.Street</td>
                    <td>@p.AptNo</td>
                    <td>@p.City</td>
                    <td>@p.State</td>
                    <td>@p.ZipCode</td>
                    <td>
                        <form asp-action="UpdateAddress" method="post" asp-route-PaymentAddressId="@p.PaymentAddressId">
                            <button>Update Address</button>
                        </form>
                    </td>
                    <td>
                        <form asp-action="DeleteAddress" method="post" asp-route-PaymentAddressId="@p.PaymentAddressId">
                            <button>Delete Address</button>
                        </form>
                    </td>
                </tr>
                }
            }
        </tbody>
    </table>
</div>

 
